.idea/
*.iml

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.orig

Debug/
[Oo]bj/
[Bb]in
[Rr]elease
*.suo

pids
logs
results

npm-debug.log
node_modules

server/public/components
*.sublime-project
*.sublime-workspace
.DS_Store