extends layout

block content
    h1= title
    form(action='/sellers',method='post')
        label(for='url') Add seller URL
        input(id='url',type='text',value='',placeholder='http://192.168.1.1:3000',name='url')
        input(type='submit',value='Register')
    h2 Registered sellers
    ul
      for seller in sellers
        li= seller.hostname + ':' + seller.port + '/' + seller.path + " Score : " + seller.cash
