extends layout
block content
    meta(http-equiv="refresh" content="5")
    h1= title
    form(action='/sellers',method='post')
        label(for='url') Add seller URL
        input(id='url',type='text',value='',placeholder='http://192.168.1.1:3000',name='url')
        input(type='submit',value='Register')
    h2 Registered sellers
    table
      thead
        tr
            th Seller
            th Cash
      tbody
      for seller in sellers
        tr
          td= seller.name
          td= seller.cash

