%% -*- erlang -*-
{erl_opts, [debug_info]}.
{deps, [
        {cowboy, "1.0.1", {git, "https://github.com/ninenines/cowboy.git", {tag, "1.0.1"}}},
        {jsx, "2.4.0", {git, "https://github.com/talentdeficit/jsx.git", {tag, "v2.4.0"}}}
       ]}.
{cover_enabled, true}.
{eunit_opts, [
  verbose, {report,{eunit_surefire,[{dir,"."}]}}
  ]}.
